@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url(https://miro.medium.com/max/3840/1*U18aWqq2322t8Z26zZ0SIg.jpeg);
  color: rgb(165, 42, 42);
  text-align: center;
  margin-top: 100px;
}